h1 {
    margin: 30px auto;
}

.container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.orders-container {
    flex-flow: column;
}

table {
    width: calc(100% - 200px);
}

table,
tr,
td,
th {
    text-align: right;
    border-collapse: collapse;
    border: 3px solid #edcd91;
    background-color: white;
}

td,
th {
    padding: 10px;
}