<!DOCTYPE html>
<html lang="he" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8" >
    <title>home page </title>
    <link rel="stylesheet" href="../static/common.css">
    <link rel="stylesheet" href="../static/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css" integrity="sha384-QYIZto+st3yW+o8+5OHfT6S482Zsvz2WfOzpFSXMF9zqeLcFV0/wlZpMtyFcZALm" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/9a83fb674c.js" crossorigin="anonymous"></script>


</head>
<body dir="rtl">

<div class="text-box">
    <h1><span>LAS</span>ANDWICH </h1>
    <p>    ,כריך עם חביתה במידת העשייה המושלמת, טוסט שנשאר קריספי <br> :ממרחים שיזכירו לכם את הבית, ולחם איכותי, שברגע שתאכלו אותו,לא תוכלו להפסיק<br> מגוון כריכים שכל אחד חייב לאכול שנייה לפני שהוא מתחיל את היום LASANDWICH
    </p>
    <a href="register.html" class ="join-btn">להצטרפות</a><br>
    <a href="Login.html" class ="acoount-btn">יש לך משתמש? הכניסה מכאן</a>


    <footer>
        <h1 class="glow">Makes Your Morning Better</h1>
    </footer>


</div>

<script src="../static/common.js"></script>

</body>

</html>