
<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <title>about </title>
    <link rel="stylesheet" href="../static/common.css">
    <link rel="stylesheet" href="../static/about.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
</head>
<body dir="rtl">

<div class="aboutUs">
    <h1> ?מי אנחנו</h1>
    <p>
        !היי! כיף שהגעת אלינו<br>.אנחנו האחים לסר! מתמחים בהכנת סנדוייצ'ים איכותיים ובריאים כבר קרוב ל5 שנים<br>
        הרעיון שלנו התחיל בכך שאחותנו הקטנה התלוננה על כך<br> שהסנדוויץ' שאבא מכין הוא לא מושקע כמו הסנדוויץ' של האחרים בכיתה
        <br> .(אם הגעתם אלינו כנראה שגם הילדים שלכם אומרים את זה)
        <br>.כאשר חקרנו זאת לעומק הבנו שהמצב קיים בהמון בתים ,ולהורים  אין זמן להשקיע כל בוקר
        <br>!LASANDWICH לכן פתחנו את
        <br>
        !אנו מתחייבים לכריכים טריים ואיכותיים שבנוסף יהיו בריאים לילדיכם
        <br>אתם רק צריכים להגיד לנו מה הילד שלכם אוהב <br>!ואנו כבר נספק לכם את הסנדוויצים האיכותיים ביותר לכל מקום שתבקשו
        <br>.תזמינו פעם אחת הילדים שלכם כבר יתמכר
    </p>

</div>

<script src="../static/common.js"></script>
</body>
</html>