body{
    min-height: 100vh;
    width: 100%;
    background-image: url(images/about.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
.aboutUs{
    width:90%;
    color: white;
    position:absolute;
    top: 50%;
    left: 0%;
    transform: translate(-50%,-50%);
    text-align: right;
}
.aboutUs h1{
    font-size: 62px;
}
.aboutUs p{
    margin: 10px 0 40px;
    font-size: 18px;
    color: white;
}