body {
    min-height: 100vh;
    width: 100%;
    background-image: url(../static/images/homepage.png);
    background-position: center;
    background-size: cover;
    position: relative;
    justify-content: center;
    align-items: center;
}
.text-box{
    width:90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: right;
}
.text-box h1{
    font-size: 70px;
}
.text-box span{
    color: #a93737;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 20px;
    color: white;
}
.join-btn{
    display:inline-block;
    text-decoration: none;
    color:white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 18px;
    background: transparent;
    position: relative;
    cursor:pointer ;
}
.join-btn:hover {
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}
.acoount-btn {
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    color: darkgrey;
}
.acoount-btn:hover{
    color:#ffc107;
}

.glow {
    font-size:20px;
    padding: 10px;
    color: #000000;
    text-align: center ;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px rgb(225, 226, 231), 0 0 40px rgba(213, 212, 212, 0.99), 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px rgba(213, 212, 212, 0.99), 0 0 40px rgba(213, 212, 212, 0.99), 0 0 50px rgba(213, 212, 212, 0.99), 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}
