<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <title>Menue </title>
    <link rel="stylesheet" href="/static/manue1.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
</head>
<body>
<nav>
    <div class="logo"> <a  href="homepage.html"><span>LAS</span>ANDWICH </a></div>
    <div class="nav-links">
        <ul>
            <li><a href="about.html">?מי אנחנו</a> </li>
            <li><a href="MANUE1.html">לסנדוויצ'ים שלנו</a> </li>
            <li><a href="schaeduale.html">המערכת שלי</a> </li>
            <li><a href="ContactUs.html">צור קשר</a> </li>
        </ul>
    </div>
</nav>
<div class="our-sandwich">
    <h1>לסנדוויצ'ים שלנו</h1>
    <div class="food-items">
        <img src="/static/images/SANDDD">
        <div class="details">
            <div class="details-sub">
                <h5>לסנדוויץ' של עופר</h5>
                <h5 class="price">42 ₪</h5>
            </div>
            <p>
                !כריך סלט בייצים משגע <br>
                !סנדוויץ' שכל ילד יאהב<br>
                לחם דגנים, בצל ירוק, עגבניה והמון אהבה
                <br>
            </p>
        </div>
    </div>

    <div class="food-items">
        <img src="/static/images/sand2.png">
        <div class="details">
            <div class="details-sub">
                <h5>לסנדוויץ' של שיר</h5>
                <h5 class="price">42 ₪</h5>
            </div>
            <p>
                !טוסט של הילדות <br>
                !טוס ילדים מושקע בכל טוב<br>
                לחמניה טרייה,חמאה,גבינה צהובה
                <br>
            </p>
        </div>
    </div>
    <div class="food-items">
        <img src="/static/images/Scrambled">
        <div class="details">
            <div class="details-sub">
                <h5>לסנדוויץ' של מאמו</h5>
                <h5 class="price">42 ₪</h5>
            </div>
            <p>
                סנדוויץ' שכולו אהבה של אמא!<br>
                פוק'צה טריה עם גבינת שמנת, אבוקדו ,עגבניה וחביתה היסטרית!
                <br>
            </p>
        </div>
    </div>
</div>
<a href="schaeduale.html" class ="join-btn">לביצוע הזמנה</a><br>



</body>
</html>


