<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <title>schedule</title>
    <link rel="stylesheet" href="../static/schaeduale.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
</head>
<body>
<nav>
    <div class="logo"> <a  href="homepage.html"><span>LAS</span>ANDWICH </a></div>
    <div class="nav-links">
        <ul>
            <li><a href="about.html">?מי אנחנו</a> </li>
            <li><a href="MANUE1.html">לסנדוויצ'ים שלנו</a> </li>
            <li><a href="schaeduale.html">המערכת שלי</a> </li>
            <li><a href="contactUs.html">צור קשר</a> </li>
        </ul>
    </div>
</nav>
<div class="container">
    <h1>בחר סנדוויץ</h1>
    <div class ="sand_container">
        <div class="sand_name" id="mamo" style="background-color: #f7f779">לסנדוויץ' של מאמו</div>
        <div class="sand_name" id="shir" style="background-color: #f68880">לסנדוויץ' של שיר</div>
        <div class="sand_name" id="ofer" style="background-color: #faae7b">לסנדוויץ' של עופר</div>
    </div>
    <h3>הוסף כריך למערכת השבועית</h3>
    <div class="schedule_container">
        <div class="days_container">
            <span class="corner"></span>
            <div class="day">ראשון</div>
            <div class="day">שני</div>
            <div class="day">שלישי</div>
            <div class="day">רביעי</div>
            <div class="day">חמישי</div>
            <div class="day">שישי</div>
            <div class="day">שבת</div>
        </div>
        <div class="part_day">
            <span class="time">7:00 </span>
            <div class="sand"></div>
            <div class="sand"></div>
            <div class="sand"></div>
            <div class="sand"></div>
            <div class="sand"></div>
            <div class="sand"></div>
            <div class="sand"></div>
        </div>
        <div class="part_day">
            <span class="time">8:00 </span>
            <div class="sand"></div>
            <div class="sand"></div>
            <div class="sand"></div>
            <div class="sand"></div>
            <div class="sand"></div>
            <div class="sand"></div>
            <div class="sand"></div>
        </div>
        <div class="part_day">
            <span class="time">9:00 </span>
            <div class="sand"></div>
            <div class="sand"></div>
            <div class="sand"></div>
            <div class="sand"></div>
            <div class="sand"></div>
            <div class="sand"></div>
            <div class="sand"></div>
        </div>
        <div class="part_day">
            <span class="time">10:00 </span>
            <div class="sand"></div>
            <div class="sand"></div>
            <div class="sand"></div>
            <div class="sand"></div>
            <div class="sand"></div>
            <div class="sand"></div>
            <div class="sand"></div>
        </div>
        <div class="part_day">
            <span class="time">11:00 </span>
            <div class="sand"></div>
            <div class="sand"></div>
            <div class="sand"></div>
            <div class="sand"></div>
            <div class="sand"></div>
            <div class="sand"></div>
            <div class="sand"></div>
        </div>
        <div class="part_day">
            <span class="time">12:00 </span>
            <div class="sand"></div>
            <div class="sand"></div>
            <div class="sand"></div>
            <div class="sand"></div>
            <div class="sand"></div>
            <div class="sand"></div>
            <div class="sand"></div>
        </div>
        <div class="part_day">
            <span class="time">13:00 </span>
            <div class="sand"></div>
            <div class="sand"></div>
            <div class="sand"></div>
            <div class="sand"></div>
            <div class="sand"></div>
            <div class="sand"></div>
            <div class="sand"></div>
        </div>
    </div>
    <div class="btn_container">
        <button class="aprButton">אישור הזמנה</button>
        <button class="delButton">איפוס מערכת</button>

        <div class="pop-up_container">
            <div class="pop-up">
                <h4> אתה בטוח שאתה רוצה להתחיל את מערכת השעות מחדש?</h4>

                <div class="btn_container">
                    <div class="btn_answer"  id="btn_yes" >כן</div>
                    <div class="btn_answer" id="btn_no" >לא</div>

                </div>
            </div>
        </div>

    <script src="../static/order.js"></script>
              </div>
</div>
</div>
    </div>
</body>

</html>