*{
    margin: 0;
    padding: 0;
    font-family: Calibri, sans-serif;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    width: 100%;
    background-color: wheat;
    background-position: center;
    background-size: cover;
    position: relative;

}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content:space-between ;
    align-items: center;
}
.logo  a{
    color: #fff;
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;

}
.logo span{
    color: #a93737;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.nav-links ul li::after{
    content:'';
    width: 0%;
    height: 2px;
    background:#f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.our-sandwich{
    padding: 0 10px 30px 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    grid-gap:20px 40px;
}
.our-sandwich h1{
    font-size: 70px;

}
.food-items{
    display: grid;
    position: relative;
    grid-template-rows: auto 1fr ;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}
.food-items img {
    position: relative;
    width: 100%;
    border-radius: 15px 15px 0 0;
}
h1{
    grid-column:1/-1;
    text-align: center;
}
.details{
    padding: 20px 10px;
    display: grid;
    grid-template-rows: auto 1fr 50px;
    grid-row-gap: 15px;
}
.details-sub{
    display: grid;
    grid-template-columns: auto auto;
}
.details-sub>h5{
    font-weight: 600;
    font-size: 30px;
}
.price{
    text-align: right;
}
.details>p{
    color: #6f6f6f;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    align-self: stretch;
}

.join-btn{
    display:inline-block;
    text-decoration: none;
    color:white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 12px 80px;
    margin: -20px;
    font-size: 20px;
    font-weight: 600;
    background: transparent;
    position: relative;
    cursor:pointer ;
    left: 45%;
}
.join-btn:hover {
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}