*{
    margin: 0;
    padding: 0;
    font-family: Calibri, sans-serif;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    width: 100%;
    background-color: wheat;
    background-position: center;
    background-size: cover;

}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content:space-between ;
    align-items: center;
}
.logo  a{
    color: #fff;
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;

}
.logo span{
    color: #a93737;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}
.nav-links ul li::after{
    content:'';
    width: 0%;
    height: 2px;
    background:#f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.container{
    min-height:100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.container h1,h3{
    margin-bottom: 20px;
    font-size: 40px;

}
.sand_container{
    display: flex;
    margin-bottom: 3rem;
    padding: 10px;
}
.sand_container .sand_name{
    padding: 10px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
}

.sand_name.selected{
    box-shadow: 0px 0px 0px 2px black inset;
}

/*schedule design*/
.schedule_container{
    background: linear-gradient(rgba(225, 135, 156, 0.39), #e1a8a8);
    /*background: linear-gradient(#ebf4f5,#b5c6e0);*/

    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.days_container{
    display: flex;
}
.corner{
    width: 50px;
    height: 70px;
    margin: 2px;
}
.day{
    width: 100px;
    border: solid 1px white;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
}
.part_day{
    display: flex;
}
.time{
    width: 50px;
    height: 70px;
    color: white;
    background-color: rgba(16, 55, 131, 0.84);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
}
.sand{
    background-color: white;
    height: 70px;
    width: 100px;
    margin: 2px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:2rem ;
}

.delButton{
    display: flex;
    padding: 10px 25px;
    margin: 0 20px;
    margin-top: 20px;
    border: none;
    background-color: white;
    border: solid 2px black;
    border-radius: 5px;
    cursor: pointer;
    outline: none;

}

.aprButton{
    display: flex;
    padding: 10px 25px;
    margin: 0 20px;
    margin-top: 20px;
    border: none;
    background-color: white;
    border: solid 2px black;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.aprButton:hover{
    background-color: lightskyblue;
}
.delButton:hover{
    background-color: red;
}

.pop-up_container{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    display: none;
    justify-content: center;
    align-items: center;
}
.pop-up_container1{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    display: none;
    justify-content: center;
    align-items: center;
}
.pop-up{
    width: 300px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: red;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
}
.pop-up1{
    width: 300px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: red;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
}
.btn_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
}
.btn_answer{
    margin: 0 20px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}